.authLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#673ab7, hsl(262, 52%, 60%));
  padding: 0 10px;
}

.authLayoutContent {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .authLayoutContent {
    width: 550px;
  }
}